@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Azeret Mono";
  src: url("../../font/AzeretMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../../font/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Spicy Rice";
  src: url("../../font/SpicyRice-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.line {
  line-height: 1.3em;
}
